
<mat-card style="margin-bottom: 20px;">
  <h2>Playlist Details</h2>

  <form #idform="ngForm">
    <mat-form-field>
      <input matInput ngModel name="nom" placeholder="Name" value="{{playlist.name}}">
    </mat-form-field>

    <p></p>
    <input (click)="updatePlaylist(idform.value.nom)" type="submit" [disabled]="!idform.valid" value="Save changes">
  </form>

</mat-card>

<mat-card-header style="margin-top:20px;">
  <mat-card-title style="font-weight:bold; font-size:20px;">{{playlist.name}}</mat-card-title>
</mat-card-header>
<img *ngIf="playlist.images!=0" src="{{playlist.images[0].url}}" width="200" height="200">

<mat-card *ngFor="let item of tracks">
  <mat-card-header>
    <mat-card-title>
      {{item.track.name}} ({{item.track.duration_ms*1/60000 | number:'1.1-2'}} mn)
    </mat-card-title>
    <audio *ngIf="item.track.preview_url!=0" id=”AudioSong” controls src="{{item.track.preview_url}}"></audio>
    <button style="margin-left:10px;" (click)="deleteTrack()"><mat-icon>delete</mat-icon></button>
  </mat-card-header>
</mat-card>
